@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #081520;
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #f0c808;
  text-transform: uppercase;
}
.daily-item {
  background-color: #0e0e0e;
  border-radius: 15px;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-small {
  width: 40px;
  height: auto;
}

.daily-item .day {
  color: #00e5ff;
  font-weight: 600;
}

.description {
  text-align: center;
  color: #f0c808;
  flex-grow: 1;
}

.min-max {
  color: #00ff80;
}

.daily-details-grid {
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 10px 20px;
  row-gap: 10px;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #00e5ff;
}

.daily-details-grid-item label:last-child {
  color: #f0c808;
}

@media (max-width: 767px) {
  .daily-item {
    font-size: 12px;
    padding: 8px 15px;
  }

  .icon-small {
    width: 30px;
  }

  .daily-item .day {
    font-size: 14px;
    margin-left: 5px;
  }

  .description {
    text-align: center;
    color: #f0c808;
    float: left;
    width: 40%;

  }

  .daily-details-grid {
    grid-template-columns: auto;
    padding: 10px;
  }

  .daily-details-grid-item {
    height: auto;
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid #f0c808;
  }

  .daily-details-grid-item:last-child {
    border-bottom: none;
  }

  .daily-details-grid-item label:first-child {
    font-size: 12px;
  }
}
