.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #1d1515; /* Bright red */
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 20px; /* Larger font size */
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
  color: #00e5ff; /* Cyan */
  text-transform: uppercase;
}

.weather-description {
  font-weight: 400;
  font-size: 16px; /* Larger font size */
  line-height: 1;
  margin: 0;
  color: #f0c808; /* Bright yellow */
}

.weather-icon {
  width: 120px; /* Larger icon size */
}

.temperature {
  font-weight: 600;
  font-size: 80px; /* Larger font size */
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  color: #00ff80; /* Bright green */
}

.details {
  width: 100%;
  padding-left: 20px;
  color: #f0c808; /* Bright yellow */
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 14px; /* Larger font size */
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 14px; /* Larger font size */
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
