.weather {
  width: 90%;
  max-width: 300px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: transparent;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  margin: 10px 0 5px 0;
  color: #00e5ff; 
  text-transform: uppercase;
  background-color: transparent; 
}

.weather-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #f0c808; 
  background-color: transparent; 
}

.weather-icon {
  width: 100px;
  height: auto;
}

.temperature {
  font-weight: 600;
  font-size: 40px;
  margin: 10px 0;
  color: #00ff80;
  background-color: transparent; 
}

.details {
  width: 100%;
  padding: 20px 0;
  color: #f0c808; 
  text-align: left;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.parameter-label {
  font-weight: 400;
  font-size: 14px;
}

.parameter-value {
  font-weight: 600;
  font-size: 14px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
  background-color: transparent; 
}
